<div class="flex-container">

<p><%= @film.title %></p>
</div>
<div class="flex-container">


<p><%= @film.show_time %></p>
</div>
<div class="flex-container">
<p>£<%= @film.price %></p>
</div>
<div class="flex-container">

<h3><a href="/">Back to Film List</a></h3>

</div>
