<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Paddy's Cinema</title>
    <link rel='stylesheet' href='/stylesheet.css'>
  </head>
  <body>
    <h1 class="flex-container">Welcome to Paddy's cinema</h1>

  <%= yield %>

  </body>
</html>
